<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="containerForm">
        <h1>Tomar clase</h1>
        <form action="/" method="GET">
            <h3>Tu compra:</h3>
            <label for="qtyCard">Cantidad de clases</label>
            <input type="number" name="cantidad" id="qtyCard" placeholder="cantidad" >
            <p>Total: $$$$ </p>
            
            <h3>Datos personales:</h3>
            <label for="dniCart">DNI</label>
            <input type="number" name="dni" id="dniCart" placeholder="cantidad" >

            <label for="addresCart">Dirección</label>
            <input type="text" name="dirección" id="addresCart" placeholder="direccion1234" >

            <h3>Datos de pago:</h3>
            <label for="numeroDeTarjetaCart">Numero de tarjeta</label>
            <input type="number"id="numeroDeTarjetaCart" placeholder="85558 2585 85585" >

            <label for="titularCart">Nombre completo</label>
            <input type="text" id="titularCart" placeholder="Nombre Apellido" >

            <label for="venCart">Vencimiento</label>
            <input type="text" id="venCart" >

            <label for="segCart">Codigo de seguridad</label>
            <input type="text" name="seguridad" id="segCart" placeholder="Nombre Apellido" >

            <button class="submit" type="submit">FINALIZAR LA COMPRAS</button>
        </form>
    </section>
</main>
<%- include("../partials/footer.ejs") %>