<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="detail">
            <div class="header-datail">
                <div class="image">
                    <h2>Nombre</h2>
                    <p>Ubicacion (Modalidad)</p>
                </div>
                <div class="descripcion">
                    <h3>Descripcion del profe</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, voluptas? Eos sit alias libero modi explicabo esse enim dicta adipisci cum quod, repellendus beatae officia veniam laborum id error quibusdam.</p>
                </div>
            </div>
            <div class="body-detail">
                <div class="grid">
                    <h4>Deporte</h4>
                    <p>Futbol</p>
                </div>
                <div class="grid">
                    <h4>Nivel</h4>
                    <p>Facil</p>
                </div>
                <div class="grid">
                    <h4>Precio</h4>
                    <p>$$$ /clase</p>
                </div>
                <div class="descripcion-clase">
                    <h3>Descripcion de la clase</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cum repudiandae nam delectus, mollitia impedit facilis dolore porro ad a quaerat voluptatem earum dolor similique cupiditate maiores quia dignissimos adipisci!</p>
                </div>
                
            </div>
            <div class="footer-detail">
                <a href="/products/cart">Tomar clase</a>
            </div>
        </section>
    </main>
<%- include("../partials/footer.ejs") %>