<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <section class="inicio-product">
        <div class="search-bar-product">
            <h2>Cargar clase</h2>
        </div>
    </section>
    <section class="product">
        <form action="/create" method="post">
            <div class="editProducto">
                <h4>Datos de profesor</h4>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <label for="ubicacion">Ubicacion</label>
                <input type="text" name="ubicacion" id="ubicacion">
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" id="descripcion">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen">
                <h4>Datos de la clase</h4>
                <label for="deporte">Deporte</label>
                <select name="deporte" id="deporte">
                    <option value="futbol">Futbol</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                </select>
                <label for="dificultad">
                    <p>Dificultad</p>
                    <label for="facil">Facil</label>
                    <input type="radio" name="dificultad" id="facil">
                    <label for="medio">Medio</label>
                    <input type="radio" name="dificultad" id="medio">
                    <label for="dificil">Dificil</label>
                    <input type="radio" name="dificultad" id="dificil">
                </label>
                <label for="descripcionClase">Descripcion de la clase</label>
                <input type="text" name="descripcionClase" id="descripcionClase">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio">
               
                <button class="submit" type="submit">Cargar</button>
            </div>
        </form>
    </section>
</main>
<%- include("../partials/footer.ejs") %>