<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css " rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
            <section>
                <article >  
                    

                
                   
            
                <form class="register-form" action="/" method="GET">
                <div class="datosDeCompra">
                <h2>DATOS DE COMPRAS</h2>
                <label for="qtyCard">Cantidad de clases</label>
                <input type="number" class="inputCard" name="cantidad" id="qtyCard" placeholder="cantidad" >
                <p class="total">Total: $$$$ </p>
                </div>
                <div class="datosPersonales">
                    <h2>DATOS PERSONALES</h2>
                <label for="dniCart">DNI</label>
                <input type="number" class="inputCard" name="dni" id="dniCart" placeholder="cantidad" >
                <label for="addresCart">Dirección</label>
                <input type="text" class="inputCard" name="dirección" id="addresCart" placeholder="direccion1234" >
                </div>
                <div class="datosDeTarjeta">
                    <h2>DATOS DE LA TARJETA</h2>
                    <label for="numeroDeTarjetaCart">Numero</label>
                    <input type="number" class="inputCard" id="numeroDeTarjetaCart" placeholder="85558 2585 85585" >
                    <label for="titularCart">Titular</label>
                    <input type="text" class="inputCard"  id="titularCart" placeholder="Nombre Apellido" >
                    <label for="venCart">Vencimiento</label>
                    <input type="date" class="venCard"  id="venCart" >
                    <label for="segCart">COD SEG</label>
                    <input type="text" class="cod Seg" name="seguridad" id="segCart" placeholder="Nombre Apellido" >
                    <div class="finalizarLaCompra boton formDecoracion">
                        <button class="submit" type="submit">FINALIZAR LA COMPRAS</button>
                    </div>
                
                
                </div>

                </form>

                
            
                </article>

        </section>


    </main>
    <footer>
        <div>
            <h3>Sobre nosotros</h3>
            <p><a href="#">¿Quienes somos?</a></p>
        </div>
        <div>
            <h3>Asistencia</h3>
            <p><a href="#">Ayuda</a></p>
            <p><a href="#">Contacto</a></p>
        </div>
        <div>
            <h3>Seguinos</h3>
            <div class="redes">
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div>
            <p>Copyright © 2022 DTechLife</p>
        </div>
    </footer>
</body>
</html>