  /* 
Paleta de colores:
Negro: #120d0e
Azul: #12384b
Verde oscuro: #63c65f
Verde claro: #c9da6f
Amarillo: #f4eb95
Gris claro: #ebebeb
*/

:root{
  
  --bordes-color:#c9da6f;
  --texto-color: #63c65f;
  --boton-text-color:#f4eb95;
  color:var(--texto-color)
}



section{
    display: flex;
    justify-content: center;
    
}
.contenedorRegistro{
  width: 90vw;
justify-content: center;
text-align: center;
  flex-wrap: wrap;

  border: .5em solid var(--bordes-color) ;
  box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
  
}

/* contenedor nombre y apellido*/
.nombreYApellido{
  border: var(--bordes-color) .2em dotted ;
}
/*-----------------------------*/

input{
  box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
  border-radius: 10px;
  font-size: 0.2 em;
  text-align: center;
}
.nombre input{
    width: 70%;
}
.apellido input {
    width: 70%;
}
.mail input{
    width: 70%
}
.formDecoracion{
    padding-top: 1em;
    padding-bottom: 1em;
}
.contraseña input{
    width: 70%
}
.boton button{
    background-color: var(--bordes-color);
    color:var(--boton-text-color) ;
    border-radius: 20%;
    border-color: var(--bordes-color);
}

h3 {
  font-size: 1em;
}
.contenedorRegistro a {
  font-size: 0.8em;
}