.containerForm {
  flex-direction: column;
}

.containerForm form {
  display: flex;
  flex-direction: column;
} 

.containerForm h3 {
  margin-top: 10px;
}

.containerForm input{
  margin: 5px;
  border: none;
  border-radius: 20px;
  font-size: 0.2 em;
  text-align: center;
  padding: 5px;
}

.containerForm button{
  margin: 5px;
  border: none;
  border-radius: 20px;
  font-size: 0.2 em;
  text-align: center;
  padding: 5px;
}

.fontBold {
  font-weight: bold;
}

.delete { 
  color: var(--light);
  background-color: brown;
}

.errors {
  color: brown;
}