/* 
Paleta de colores:
  Negro: #120d0e
  Azul: #12384b
  Verde: #63c65f
  color4: #c9da6f
  Amarillo: #f4eb95
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #120d0e;
}