/* 
Paleta de colores:
  Negro: #120d0e
  Azul: #12384b
  Verde oscuro: #63c65f
  Verde claro: #c9da6f
  Amarillo: #f4eb95
  Gris claro: #ebebeb
*/
  @import url(../css/fomulario.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

/* Header */
header{
  display: flex;
  align-items: center;
  background-color: #f4eb95;
  height: 10vh;
  padding: 20px;
  position: fixed;
  width: 100vw;
}

.logo {
  text-align: start;
  width: 75%;
}

.logo img {
  height: 8vh;
}

.burger-menu {
  text-align: end;
  width: 25%;
}

.burger-menu i {
  background-color: #120d0e;
  font-size: 16px;
  border-radius: 10px;
  padding: 12px;
  color: #ebebeb;
}

/* Main */
main {
  padding: 10px;
  padding-top: 10vh;
}

main section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  height: 50vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar h2 {
  width: 100%;
  text-align: center;
}

.search-bar form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.search-bar form input{
  position: absolute;
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 40px;
}

.search-bar form button{
  position: absolute;
  border: none;
  background-color: transparent;
  right: 10px;
}

.search-bar h4 {
  width: 100%;
  text-align: center;
}

.personal {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.personal div {
  background-color: #c9da6f;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.personal .left {
  height: 30vh;
  width: 25vw;
}

.personal .center {
  height: 40vh;
  width: 25vw;
}

.personal .right {
  height: 35vh;
  width: 25vw;
}

.pasos {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

.pasos div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.pasos h3 {
  width: 100%;
}

.pasos p {
    padding-top: 20px;
    width: 75%;
}

.pasos a {
  border: 1px solid #120d0e;
  padding: 20px;
  width: 50%;
  border-radius: 40px;
  text-align: center;
}

.deportes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
  border-radius: 40px;
  background-color: #120d0e;
}

.deportes h2 {
  color: #ebebeb;
}

.deportes img {
  width: 80vw;
}

/* Footer */
footer {
  background-color: #f4eb95;
  padding: 10px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.redes {
  flex-direction: row;
  margin: auto;
}

.redes a {
  padding: 5px;
}