.inicio-product{
  display: flex;
  height: 15vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar-product {
  display: flex;
  height: 15vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar-product form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  
}

.search-bar-product form input{
  position: absolute;
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 40px;
  padding-left: 10px;
}

.search-bar-product form button{
  position: absolute;
  border: none;
  background-color: transparent;
  right: 10px;
}

.search-bar-product h4 {
  width: 100%;
  text-align: center;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.product a article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  width: 75%;
  padding: 10px;
  border: 1px solid #120d0e;
  border-radius: 20px;
}

.product a article .image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 20vh;
  border-radius: 10px;
  padding: 10px;
  color: #ebebeb;
}