@import url(/css/fomulario.css);
@import url(/css/product.css);
@import url(/css/productDetail.css);

:root{
  --dark: #120d0e;
  --medium: #666;
  --light: #ebebeb;
  --font-dark: #12384b;
  --font-light: #ebebeb;
  --primary-color:#63c65f;
  --secondary-color: #f4eb95;
  color:var(--font-light);
  background-color:var(--dark);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--medium);
}

a {
  color: var(--light)
}

a:hover{
  color: var(--primary-color);
}

/* Header */
header{
  display: flex;
  align-items: center;
  background-color: var(--dark);
  height: 10vh;
  padding: 20px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  justify-content: space-between;
}

.logo {
  text-align: start;
  width: 50%;
}

.logo img {
  height: 8vh; 
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light);
}

header nav {
  width: 35%;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
}

.burger-menu {
  text-align: end;
  width: 15%;
}

.burger-menu i {
  font-size: 16px;
  border-radius: 10px;
  padding: 12px;
  color: #ebebeb;
}

/* Main */
main {
  padding-top: 11vh;
 
}

main section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  height: 50vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar h2 {
  width: 100%;
  text-align: center;
}

.search-bar form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  
}

.search-bar form input{
  position: absolute;
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 40px;
  padding-left: 10px;
}

.search-bar form button{
  position: absolute;
  border: none;
  background-color: transparent;
  right: 10px;
}

.search-bar h4 {
  width: 100%;
  text-align: center;
}

.personal {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: flex-end;
  height: 40vh;
  width: 100%;
}

.personal div {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.personal .left {
  background-image: url("/images/personal-man.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 25vw;
}

.personal .center {
  background-image: url("/images/personal-women.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 25vw;
}

.personal .right {
  background-image: url("/images/personal-man2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  width: 25vw;
}

.pasos {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light);
}

.pasos h2 {
  width: 100%;
  text-align: center;
  color: var(--font-dark);
}

.pasos div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.pasos div h3 {
  color: var(--font-dark);
}

.pasos div p {
    padding-top: 20px;
    width: 75%;
    color: var(--font-dark);
}

.pasos div a {
  border: 1px solid var(--font-dark);
  color: var(--font-dark);
  padding: 20px;
  width: 50%;
  border-radius: 40px;
  text-align: center;
}

.pasos div a:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.deportes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/deportes.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; 
}

.deportes h2 {
  color: var(--font-light);
  padding: 40px;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.redes {
  flex-direction: row;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes a {
  padding: 5px;
}

@media screen and (min-width:480px) {
  
}

@media screen and (min-width:800px) {
  .search-bar {
    width: 50%;
  }
  .personal {
    width: 50%;
    height: 90vh;
  }
  .personal .left{
    height: 60vh;
    width: 14vw;
  }
  .personal .center{
    height: 80vh;
    width: 14vw;
  }
  .personal .right{
    height: 70vh;
    width: 14vw;
  }
  .pasos div {
    width: 50%;
  }
  footer div {
    width: 33%;
  }
}

.botonEnviar{
  background-color: #63c65f;;
}
.login{
  color: #63c65f;
}
.logout{
  color: red;
}
.editProfile{
  color: #63c65f;
}