<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
    <main>
            <section>
                <article >  
                    

                
                   
            
                <form class="register-form" action="/" method="GET">
                <div class="datosDeCompra">
                <h2>DATOS DE COMPRAS</h2>
                <label for="qtyCard">Cantidad de clases</label>
                <input type="number" class="inputCard" name="cantidad" id="qtyCard" placeholder="cantidad" >
                <p class="total">Total: $$$$ </p>
                </div>
                <div class="datosPersonales">
                    <h2>DATOS PERSONALES</h2>
                <label for="dniCart">DNI</label>
                <input type="number" class="inputCard" name="dni" id="dniCart" placeholder="cantidad" >
                <label for="addresCart">Dirección</label>
                <input type="text" class="inputCard" name="dirección" id="addresCart" placeholder="direccion1234" >
                </div>
                <div class="datosDeTarjeta">
                    <h2>DATOS DE LA TARJETA</h2>
                    <label for="numeroDeTarjetaCart">Numero</label>
                    <input type="number" class="inputCard" id="numeroDeTarjetaCart" placeholder="85558 2585 85585" >
                    <label for="titularCart">Titular</label>
                    <input type="text" class="inputCard"  id="titularCart" placeholder="Nombre Apellido" >
                    <label for="venCart">Vencimiento</label>
                    <input type="date" class="venCard"  id="venCart" >
                    <label for="segCart">COD SEG</label>
                    <input type="text" class="cod Seg" name="seguridad" id="segCart" placeholder="Nombre Apellido" >
                    <div class="finalizarLaCompra boton formDecoracion">
                        <button class="submit" type="submit">FINALIZAR LA COMPRAS</button>
                    </div>
                
                
                </div>

                </form>

                
            
                </article>

        </section>


    </main>
<%- include("./partials/footer.ejs") %>