<footer>
  <div>
      <h3>Sobre nosotros</h3>
      <p><a href="#">¿Quienes somos?</a></p>
  </div>
  <div>
      <h3>Asistencia</h3>
      <p><a href="#">Ayuda</a></p>
      <p><a href="#">Contacto</a></p>
  </div>
  <div>
      <h3>Seguinos</h3>
      <div class="redes"> 
          <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
  </div>
  <p>Copyright © 2022 DTechLife</p>
</footer>
</body>
</html>