<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section class="inicio">
            <div class="search-bar">
                <h2>Encontra a tu profe ideal</h2>
                <form action="/products" method="get">
                    <input type="search" name="search" id="search" placeholder="Buscar...">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h4>Elegi entre todos nuestros profesores con modalidad en linea o presencial.</h4>
            </div>
            <div class="personal">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
        </section>
        <section class="pasos">
            <h2>Entrenar nunca fue tan facil</h2>
            <div>
                <h3>1. Busca</h2>
                <p>Busc치 con toda libertad entre varios perfiles y contact치 al profesor que m치s se acerque a tus necesidades.</p>
            </div>
            <div>
                <h3>2. Elegi</h2>
                <p>R치pidamente, prodas seleccionar la cantidad de clases que quieres tomar con tu profesor.</p>
            </div>
            <div>
                <h3>3. Entrena</h2>
                <p>Ya no tenes mas excusas, estas preparado para ponerte a entrenar.</p>
            </div>
            <div>
                <a href="#">Saber mas...</a>
            </div>
        </section>
        <section class="deportes">
            <h2>Miles de deportes por conocer</h2>
        </section>
    </main>
<%- include("../partials/footer.ejs") %>