<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>

        <section>
            <div class="contenedorRegistro">
                    <h1>Conectate</h1>
                <div class="mail formDecoracion">
                    <label class="etiquetaTitulo" for="email">Correo</label>
                    <br>
                    <input type="email" class="input-register" name="email" id="email" placeholder="xxxx@tumail.com">
                </div>

                <div class="contraseña formDecoracion">
                    <label class="etiquetaTitulo" for="password">Contraseña</label>
                    <br>
                    <input type="password" class="contraseña" name="password" id="password" placeholder="escribi tu clave">
                </div>
                <div class="boton formDecoracion">
                    <button class="submit" type="submit">Enviar</button>
                
                </div>
                
                <h3>¿No tenes cuenta?</h3>
                <a href="/register"> Registrate</a>

                <h3>¿Olvidaste la constraseña?</h3>
                <a href="/register"> Recuperar Contraseña</a>


            </div>

                </form>

                  


            </div>
        </section>



    </main>
<%- include("../partials/footer.ejs") %>