<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>

        <section>
            <div class="contenedorRegistro">
                    <h1>Conectate</h1>
                    <form class="register-form" action="/users/login" method="POST">
                <div class="mail formDecoracion">
                    <label class="etiquetaTitulo" for="email">Correo</label>
                    <br>
                    <input type="email" class="input-register" name="email" id="email" placeholder="xxxx@tumail.com">
                    <% if (locals.errors && errors.email) { %>
                     <div class="texto-error">
                        <%=errors.email.msg %>
                     </div>
                    <% } %>
                </div>

                <div class="contraseña formDecoracion">
                    <label class="etiquetaTitulo" for="password">Contraseña</label>
                    <br>
                    <input type="password" class="contraseña" name="password" id="password" placeholder="escribi tu clave">
                </div>
                <div class="boton formDecoracion">
                    <button class="submit" type="submit">Enviar</button>
                
                </div>
            </form>
                <h3>¿No tenes cuenta?</h3>
                <a href="/users/register"> Registrate</a>

                <h3>¿Olvidaste la constraseña?</h3>
                <a href="/users/register"> Recuperar Contraseña</a>


            </div>

               
                  


            </div>
        </section>



    </main>
<%- include("../partials/footer.ejs") %>