<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
    <main>
        <section>
            <div class="contenedorRegistro">
                    <h1>Registrarte</h1>
                <form class="register-form" action="/users/register" method="POST">
                <div class="nombreYApellido formDecoracion">
                        <div class="nombre">
                        <label class="etiquetaTitulo" for="name">Nombre:</label>
                        <br>
                        <input type="text" class="input-register" name="nombre" id="name" placeholder="Nombre" required>
                        </div>
                        <div class="apellido">
                        <label class="etiquetaTitulo" for="name">Apellido:</label>
                        <br>
                        <input type="text" class="input-register" name="apellido" id="apellido" placeholder="Apellido" required>
                        </div>
                        <div class="nombre">
                            <label class="etiquetaTitulo" for="name">Ubicacion:</label>
                            <br>
                            <input type="text" class="input-register" name="ubicacion" id="ubicacion" placeholder="Ubicacion">
                            </div>
                            <label for="img"> Imagen del Usuario</label>
                            <input type="file"  name="imagenUsuario" alt="Submit" width="48" height="48">
                            <br>
                    </div>
                <div class="mail formDecoracion">
                    <label class="etiquetaTitulo" for="email">Correo</label>
                    <br>
                    <input type="email" class="input-register" name="email" id="email" placeholder="xxxx@tumail.com" required>
                </div>

                <div class="contraseña formDecoracion">
                    <label class="etiquetaTitulo" for="password">Contraseña</label>
                    <br>
                    <input type="password" class="contraseña" name="contraseña" id="contraseña" placeholder="escribi tu clave" required>
                </div>
                <div class="boton formDecoracion">
                    <button class="submit" type="submit">Enviar</button>
                    <button class="reset" type="reset">Borrar</button>
                </div>


            </div>

                </form>


            </div>
        </section>

    </main>
<%- include("../partials/footer.ejs") %>